/* General styling */
body {
   /* background-color: #f0f0f0; */
    font-family: Arial, sans-serif;
}

/* Heading styling */
h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

/* General styling for alerts */
.alert {
    margin-top: 10px;
}

/* Styling for the close button inside the alerts */
.close {
    outline: none;
}
