{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-page-wrapper">
  <!-- Welcome Message -->
  <div class="welcome-section">
      <h1>Welcome to To-Do List App</h1>
  </div>

  <!-- Hero Image Section -->
  <div class="hero-section">
      <div class="hero-image">
          <img src="{% static 'images/Hero Image_Home.jpg' %}" alt="Hero Image">
      </div>
  </div>

  <!-- How It Works Section -->
  <div class="how-it-works">
      <h2><strong>Stay Organized, Stay Ahead</strong></h2>
      <p class="custom-font">Our To-Do List App helps you stay on top of your tasks, ensuring you never miss a deadline.</p>
  </div>
</div>
{% endblock %}
